.pic1{
  width:380px;
  height:380px;
  background: url(1.jpg) no-repeat;
}

.pic2{
  width:380px;
  height:380px;
  background: url(2.jpg) no-repeat;
}

.pic3{
  width:380px;
  height:380px;
  background: url(3.jpg) no-repeat;
}

.pic4{
  width:380px;
  height:380px;
  background: url(4.jpg) no-repeat; 
}

.pictext{
  background:#FFF;
  opacity:0;
  text-align:center;
  padding:30px;
  font-size:30px;
  font-weight:bold; 
}

.pic1:hover .pictext
{
  opacity:0.6;
  color:#000000;
}
.pic2:hover .pictext
{
  opacity:0.6;
  color:#000000;
}
.pic3:hover .pictext
{
  opacity:0.6;
  color:#000000;
}
.pic4:hover .pictext
{
  opacity:0.6;
  color:#000000;
}

th {
  font-size:30px;
  font-weight:bold; 
}

table{
  padding:10px;
}

